---
http_interactions:
- request:
    method: post
    uri: https://slack.com/api/rtm.start
    body:
      encoding: UTF-8
      string: token=token
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-Oauth-Scopes:
      - rtm:stream,client
      X-Oauth-Scopes:
      - identify,read,post,client
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"self":{"id":"U07518DTL","name":"rubybot","prefs":{"highlight_words":"","user_colors":"","color_names_in_list":true,"growls_enabled":true,"tz":null,"push_dm_alert":true,"push_mention_alert":true,"msg_replies":"{
        \"flexpane\":false }","push_everything":true,"push_idle_wait":2,"push_sound":"b2.mp3","push_loud_channels":"","push_mention_channels":"","push_loud_channels_set":"","email_alerts":"instant","email_alerts_sleep_until":0,"email_misc":true,"email_weekly":true,"welcome_message_hidden":false,"all_channels_loud":true,"loud_channels":"","never_channels":"","loud_channels_set":"","show_member_presence":true,"search_sort":"timestamp","expand_inline_imgs":true,"expand_internal_inline_imgs":true,"expand_snippets":false,"posts_formatting_guide":true,"seen_live_support_popup":false,"seen_welcome_2":false,"seen_ssb_prompt":false,"seen_spaces_new_xp_tooltip":false,"spaces_new_xp_banner_dismissed":false,"search_only_my_channels":false,"emoji_mode":"default","emoji_use":"","has_invited":false,"has_uploaded":false,"has_created_channel":false,"search_exclude_channels":"","messages_theme":"default","webapp_spellcheck":true,"no_joined_overlays":false,"no_created_overlays":false,"dropbox_enabled":false,"seen_domain_invite_reminder":false,"seen_member_invite_reminder":false,"mute_sounds":false,"arrow_history":false,"tab_ui_return_selects":true,"obey_inline_img_limit":true,"new_msg_snd":"knock_brush.mp3","collapsible":false,"collapsible_by_click":true,"require_at":false,"ssb_space_window":"","mac_ssb_bounce":"","mac_ssb_bullet":true,"expand_non_media_attachments":true,"show_typing":true,"pagekeys_handled":true,"last_snippet_type":"","display_real_names_override":0,"time24":false,"enter_is_special_in_tbt":false,"graphic_emoticons":false,"convert_emoticons":true,"autoplay_chat_sounds":true,"ss_emojis":true,"sidebar_behavior":"","seen_onboarding_start":false,"onboarding_cancelled":false,"seen_onboarding_slackbot_conversation":false,"seen_onboarding_channels":false,"seen_onboarding_direct_messages":false,"seen_onboarding_invites":false,"seen_onboarding_search":false,"seen_onboarding_recent_mentions":false,"seen_onboarding_starred_items":false,"seen_onboarding_private_groups":false,"onboarding_slackbot_conversation_step":0,"dnd_enabled":false,"dnd_start_hour":"22:00","dnd_end_hour":"08:00","mark_msgs_read_immediately":true,"start_scroll_at_oldest":true,"snippet_editor_wrap_long_lines":false,"ls_disabled":false,"sidebar_theme":"default","sidebar_theme_custom_values":"","f_key_search":false,"k_key_omnibox":true,"speak_growls":false,"mac_speak_voice":"com.apple.speech.synthesis.voice.Alex","mac_speak_speed":250,"comma_key_prefs":false,"at_channel_suppressed_channels":"","push_at_channel_suppressed_channels":"","prompted_for_email_disabling":false,"full_text_extracts":false,"no_text_in_notifications":false,"muted_channels":"","no_macssb1_banner":false,"no_winssb1_banner":false,"no_omnibox_in_channels":false,"k_key_omnibox_auto_hide_count":0,"hide_user_group_info_pane":false,"mentions_exclude_at_user_groups":false,"privacy_policy_seen":true,"search_exclude_bots":false,"fuzzy_matching":false,"load_lato_2":false,"fuller_timestamps":false,"last_seen_at_channel_warning":0,"flex_resize_window":false,"msg_preview":false,"msg_preview_displaces":true,"msg_preview_persistent":true,"emoji_autocomplete_big":false,"winssb_run_from_tray":true,"winssb_window_flash_behavior":"idle","two_factor_auth_enabled":false,"two_factor_type":null,"two_factor_backup_type":null,"mentions_exclude_at_channels":true,"confirm_clear_all_unreads":true,"confirm_user_marked_away":true,"box_enabled":false,"seen_single_emoji_msg":false,"confirm_sh_call_start":true,"preferred_skin_tone":"","show_all_skin_tones":false,"separate_private_channels":false,"whats_new_read":0,"hotness":false,"frecency_jumper":"","jumbomoji":false},"created":1435864712,"manual_presence":"active"},"team":{"id":"T04KB5WQH","name":"dblock","email_domain":"dblock.org","domain":"dblockdotorg","msg_edit_window_mins":-1,"prefs":{"default_channels":["C04KB5X4D","C04KB5X4Z"],"posts_migrating":0,"msg_edit_window_mins":-1,"allow_message_deletion":true,"hide_referers":true,"display_real_names":false,"disable_file_uploads":"allow_all","who_can_at_everyone":"regular","who_can_at_channel":"ra","warn_before_at_channel":"always","who_can_create_channels":"regular","who_can_create_shared_channels":"admin","who_can_archive_channels":"regular","who_can_create_groups":"ra","who_can_post_general":"ra","who_can_kick_channels":"admin","who_can_kick_groups":"regular","dnd_enabled":true,"dnd_start_hour":"22:00","dnd_end_hour":"08:00","allow_shared_channels":false,"who_has_team_visibility":"ra","who_can_create_delete_user_groups":"admin","who_can_edit_user_groups":"admin","who_can_change_team_profile":"admin","retention_type":0,"retention_duration":0,"group_retention_type":0,"group_retention_duration":0,"dm_retention_type":0,"dm_retention_duration":0,"file_retention_type":0,"file_retention_duration":0,"allow_retention_override":true,"require_at_for_mention":0,"compliance_export_start":0,"invites_only_admins":true,"auth_mode":"normal","who_can_manage_integrations":{"type":["regular"]}},"icon":{"image_34":"https:\/\/s3-us-west-2.amazonaws.com\/slack-files2\/avatars\/2015-04-28\/4657218807_d480d2ee610d2e8aacfe_34.jpg","image_44":"https:\/\/s3-us-west-2.amazonaws.com\/slack-files2\/avatars\/2015-04-28\/4657218807_d480d2ee610d2e8aacfe_44.jpg","image_68":"https:\/\/s3-us-west-2.amazonaws.com\/slack-files2\/avatars\/2015-04-28\/4657218807_d480d2ee610d2e8aacfe_68.jpg","image_88":"https:\/\/s3-us-west-2.amazonaws.com\/slack-files2\/avatars\/2015-04-28\/4657218807_d480d2ee610d2e8aacfe_88.jpg","image_102":"https:\/\/s3-us-west-2.amazonaws.com\/slack-files2\/avatars\/2015-04-28\/4657218807_d480d2ee610d2e8aacfe_102.jpg","image_132":"https:\/\/s3-us-west-2.amazonaws.com\/slack-files2\/avatars\/2015-04-28\/4657218807_d480d2ee610d2e8aacfe_132.jpg","image_original":"https:\/\/s3-us-west-2.amazonaws.com\/slack-files2\/avatars\/2015-04-28\/4657218807_d480d2ee610d2e8aacfe_original.jpg"},"over_storage_limit":false,"plan":"","over_integrations_limit":true},"latest_event_ts":"1454279576.000000","channels":[{"id":"C09C5GYHF","name":"a1","is_channel":true,"created":1440078580,"creator":"U04KB5WQR","is_archived":true,"is_general":false,"has_pins":false,"is_member":false},{"id":"C09C598QL","name":"a2","is_channel":true,"created":1440078625,"creator":"U04KB5WQR","is_archived":true,"is_general":false,"has_pins":false,"is_member":false},{"id":"C0ALZCCSC","name":"a3","is_channel":true,"created":1442284272,"creator":"U04KB5WQR","is_archived":true,"is_general":false,"has_pins":false,"is_member":false},{"id":"C09C5DS65","name":"aliases","is_channel":true,"created":1440078448,"creator":"U04KB5WQR","is_archived":true,"is_general":false,"has_pins":false,"is_member":[...]
- request:
    method: get
    uri: http://unix/v1.16/containers/hello/json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - text/plain
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Api-Version:
      - '1.26'
      Content-Type:
      - text/plain; charset=utf-8
      Docker-Experimental:
      - 'true'
    body:
      encoding: ASCII-8BIT
      string: 'No such container: hello

'
  recorded_at: Thu, 16 Feb 2017 19:12:08 GMT
[...]
- request:
    method: post
    uri: http://unix/v1.16/images/create?fromImage=slapi/base:latest
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - text/plain
  response:
    status:
      code: 200
      message: OK
    headers:
      Api-Version:
      - '1.26'
      Content-Type:
      - application/json
      Docker-Experimental:
      - 'true'
    body:
      encoding: ASCII-8BIT
      string: "{\"status\":\"Pulling from slapi/base\",\"id\":\"latest\"}\r\n{\"status\":\"Digest:
        sha256:c0b96f4f8bb46b762be679c597e448e6d4d6bc6b9fd13c6b9dbac28d9e40f907\"}\r\n{\"status\":\"Status:
        Image is up to date for slapi/base:latest\"}\r\n"
  recorded_at: Thu, 16 Feb 2017 19:12:09 GMT
- request:
    method: get
    uri: http://unix/v1.16/images/slapi/base:latest/json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - text/plain
  response:
    status:
      code: 200
      message: OK
    headers:
      Api-Version:
      - '1.26'
      Content-Type:
      - application/json
      Docker-Experimental:
      - 'true'
    body:
      encoding: ASCII-8BIT
      string: '{"Id":"sha256:e579353d8fdd57341cafbb070a9f156245819461be2b49bfce19fa467a42dc5f","RepoTags":["slapi/base:latest"],"RepoDigests":["slapi/base@sha256:c0b96f4f8bb46b762be679c597e448e6d4d6bc6b9fd13c6b9dbac28d9e40f907"],"Parent":"","Comment":"","Created":"2017-01-03T17:56:19.517905783Z","Container":"eb4afa6e0b84266778d5051af28869248be87a3cc193161bc811b02c2eea641e","ContainerConfig":{"Hostname":"26ba10d264c2","Domainname":"","User":"","AttachStdin":false,"AttachStdout":false,"AttachStderr":false,"Tty":false,"OpenStdin":false,"StdinOnce":false,"Env":["PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"],"Cmd":["/bin/sh","-c","#(nop)
        ","WORKDIR /scripts"],"ArgsEscaped":true,"Image":"sha256:2740f0ad86c1fb940a34967c55514edb3126e1853138d64a83ea0fb71e798d65","Volumes":{"/scripts":{}},"WorkingDir":"/scripts","Entrypoint":null,"OnBuild":[],"Labels":{}},"DockerVersion":"1.12.3-cs3","Author":"SLAPI
        Devs","Config":{"Hostname":"26ba10d264c2","Domainname":"","User":"","AttachStdin":false,"AttachStdout":false,"AttachStderr":false,"Tty":false,"OpenStdin":false,"StdinOnce":false,"Env":["PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"],"Cmd":null,"ArgsEscaped":true,"Image":"sha256:2740f0ad86c1fb940a34967c55514edb3126e1853138d64a83ea0fb71e798d65","Volumes":{"/scripts":{}},"WorkingDir":"/scripts","Entrypoint":null,"OnBuild":[],"Labels":{}},"Architecture":"amd64","Os":"linux","Size":195724285,"VirtualSize":195724285,"GraphDriver":{"Name":"aufs","Data":null},"RootFS":{"Type":"layers","Layers":["sha256:7cbcbac42c44c6c38559e5df3a494f44987333c8023a40fec48df2fce1fc146b","sha256:6a1870b0a09df42c3a232f9decd8247de1140e5e6d9b1d70fd7b191521600b20","sha256:5b13bef1b77ea8f1eefc54da742115a95148e69e9c7b96b4d10232e506514f37"]}}

'
  recorded_at: Thu, 16 Feb 2017 19:12:09 GMT
- request:
    method: get
    uri: http://unix/v1.16/containers/pager/json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - text/plain
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Api-Version:
      - '1.26'
      Content-Type:
      - text/plain; charset=utf-8
      Docker-Experimental:
      - 'true'
    body:
      encoding: ASCII-8BIT
      string: 'No such container: pager

'
  recorded_at: Thu, 16 Feb 2017 19:12:09 GMT
[...]
- request:
    method: post
    uri: http://unix/v1.16/images/create?fromImage=slapi/pagerduty-slapin:dev
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - text/plain
  response:
    status:
      code: 200
      message: OK
    headers:
      Api-Version:
      - '1.26'
      Content-Type:
      - application/json
      Docker-Experimental:
      - 'true'
    body:
      encoding: ASCII-8BIT
      string: "{\"status\":\"Pulling from slapi/pagerduty-slapin\",\"id\":\"dev\"}\r\n{\"status\":\"Digest:
        sha256:890c77f6f6635d2e869c619568f89f7ddc3228fc7eae659769ade0226582e5df\"}\r\n{\"status\":\"Status:
        Image is up to date for slapi/pagerduty-slapin:dev\"}\r\n"
  recorded_at: Thu, 16 Feb 2017 19:12:09 GMT
- request:
    method: get
    uri: http://unix/v1.16/images/slapi/pagerduty-slapin:dev/json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - text/plain
  response:
    status:
      code: 200
      message: OK
    headers:
      Api-Version:
      - '1.26'
      Content-Type:
      - application/json
      Docker-Experimental:
      - 'true'
    body:
      encoding: ASCII-8BIT
      string: '{"Id":"sha256:450cde27f1e5ed8a8351edb33753c2dc6a051c180b4e8d87942021326b799283","RepoTags":["slapi/pagerduty-slapin:dev"],"RepoDigests":["slapi/pagerduty-slapin@sha256:890c77f6f6635d2e869c619568f89f7ddc3228fc7eae659769ade0226582e5df"],"Parent":"","Comment":"","Created":"2017-01-19T16:22:39.931613604Z","Container":"bc9c41db58a1a671cceb3f555763815d216f02eb761dbd5c07c53523f6693d3c","ContainerConfig":{"Hostname":"1d811a9194c4","Domainname":"","User":"","AttachStdin":false,"AttachStdout":false,"AttachStderr":false,"Tty":false,"OpenStdin":false,"StdinOnce":false,"Env":["PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"],"Cmd":["/bin/sh","-c","#(nop)
        ","ENTRYPOINT [\"/pager/bin/pager\"]"],"ArgsEscaped":true,"Image":"sha256:830a6451759214d32a4b7992f83ffca1bbb74557b6b7a8922c820fae1409d372","Volumes":{"/scripts":{}},"WorkingDir":"/pager","Entrypoint":["/pager/bin/pager"],"OnBuild":[],"Labels":{"ack":"acknowledge
        incident","create":"create items","delete":"delete items","help":"Describe
        available commands or one specific command","list":"list items","resolve":"resolve
        incident","trigger":"trigger incident","update":"update items","version":"Get
        the version of the Pager Tool"}},"DockerVersion":"1.12.3-cs3","Author":"SLAPI
        Devs","Config":{"Hostname":"1d811a9194c4","Domainname":"","User":"","AttachStdin":false,"AttachStdout":false,"AttachStderr":false,"Tty":false,"OpenStdin":false,"StdinOnce":false,"Env":["PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"],"Cmd":null,"ArgsEscaped":true,"Image":"sha256:830a6451759214d32a4b7992f83ffca1bbb74557b6b7a8922c820fae1409d372","Volumes":{"/scripts":{}},"WorkingD[...]
[...]
- request:
    method: post
    uri: https://slack.com/api/rtm.start
    body:
      encoding: UTF-8
      string: token=abc123
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Backend:
      - h
      X-Slack-Req-Id:
      - 909aacc8-7863-49b6-a65e-0bac88666b10
    body:
      encoding: ASCII-8BIT
      string: '{"ok":false,"error":"invalid_auth"}'
  recorded_at: Thu, 16 Feb 2017 19:28:42 GMT
recorded_with: VCR 3.0.3
